@page "/leave-request-approved"
@{
    ViewData["Title"] = "Leave Request Approved";
}

<div>
    <h1 class="display-4">Leave Request Approved</h1>
    <p>We will let the happy employee know. Thank you!</p>
</div>