@page "/leave-request-denied"
@{
    ViewData["Title"] = "Leave Request Denied";
}

<div>
    <h1 class="display-4">Leave Request Denied</h1>
    <p>We will let the lazy employee know there's no time for that. Thank you!</p>
</div>